// Font Variables -------- fm - Font Family -- fs - Font Size -- fw - Font Weight -------

$fm-body : 'Poppins',
sans-serif;

$fm-primary :'Poppins',
sans-serif;

$fs-h1 : 7rem;
$fs-h2 : 1.6rem;
$fs-h3 : 1.8rem;
$fs-h4 : 1.6rem;
$fs-h5 : 1.5rem;
$fs-h6 : 1.2rem;

$fs-heading: 2.5rem;

$fs-btn : 1.4rem;
$fs-body : 1.5rem;
$fs-icons : 1.2rem;
$fs-topbar : 1.2rem;
$fs-subheading : 2rem;

// -- Line Height - lh -------------------------------------------------------------------

$lh-body : 1.7;
$lh-heading : 1.2;

// Color Variables -----------------------------------------------------------------------

$color-gradient1: linear-gradient(90deg, hsl(122, 47%, 49%) 0%, hsl(121, 73%, 67%) 100%);
$color-gradient2: linear-gradient(120deg, hsl(198, 69%, 66%) 0%, hsl(175, 67%, 59%) 100%);
$color-gradient3: linear-gradient(180deg, hsl(0, 1%, 100%) 0%, hsl(0, 0%, 89%) 100%);

$color-scrollbar : hsl(0, 0%, 93%);
$color-scrollThumb : hsl(220, 8%, 15%);

$color-primary : hsl(198, 69%, 66%);
$color-secondary : hsl(0, 0%, 7%);

$color-light-100 : hsl(0, 0%, 96%);
$color-light-400 : hsl(223, 3%, 58%);
$color-light-800 : hsl(221, 8%, 54%);

$color-Dark-100 :hsl(205, 5%, 47%);
$color-Dark-400 : hsl(220, 8%, 15%);
$color-Dark-800 : hsl(0, 0%, 0%);

$color-footerBar : hsl(0, 0%, 89%);

$color-body : hsl(205, 5%, 47%);

$color-btn-primary :hsl(0, 88%, 59%);
$color-btn-secondary :hsl(220, 8%, 15%);
$color-btn-tertiary :hsl(0, 0%, 100%);

// Dimensions Variables ------------------------------------------------------------------

$width-container : 1140px;
$section-padding : 8rem;

// Box Shadow ----------------------------------------------------------------------------

$box-shadow-lg: 0 1rem 3rem rgba(hsl(0, 0%, 0%), .175);
$box-shadow-md: 0 .5rem 1rem rgba(hsl(0, 0%, 0%), .15);
$box-shadow-sm: 0 .125rem .25rem rgba(hsl(0, 0%, 0%), .075);

// ----------------------------------------------------------------------------