@use "../abstracts/helper"as *;

footer {
   background-color: $color-footerBar;

   .footerMain {
      padding: 5rem 0;
   }

   .footer-wrapper {
      @extend .flexRow-start;
   }

   .ftr-col {
      flex: 1;
      padding-right: 3rem;
      @extend .flexColumn-start;

      p {
         margin-top: 2rem;
      }

      &:last-child {
         padding-right: 0;
      }

      .ftr-logo {
         margin-bottom: .8rem;
      }

      .ftr-contact {
         margin: 3rem 0;
      }

      .follow {
         color: black;
         font-weight: 600;
         margin-bottom: 2rem;
         letter-spacing: 0.2rem;
      }

      .ftr-col-heading {
         color: $color-Dark-800;
      }

      form {
         margin: 2rem 0 3rem;
         display: flex;
         align-items: center;

         input {
            border: none;
            padding: 1.5rem;
            border-radius: 0.2rem;
         }
      }
   }

   .payment {
      span {
         letter-spacing: 0.3rem;
      }

      img {
         margin-top: 2rem;
      }
   }

   .ftr-list {
      margin-top: 2rem;

      .ftr-items {
         display: flex;
      }

      .ftr-links {
         padding: 0.5rem 0;
         color: $color-body;
         transition: color .3s ease-in-out;

         &:hover {
            color: $color-btn-primary;
         }
      }
   }
}

.ftr-socials {
   display: flex;
   gap: 2rem;

   .social-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      @extend .flexRow-center;
      background-color: white;
      transition: background-color 0.2s ease-in-out, fill 0.2s ease-in-out;

      &:hover {
         background-color: $color-btn-primary;

         svg {
            fill: white;
         }
      }
   }
}

.footerBar {
   padding: 3rem 0;
   border-top: 0.1rem solid hsla(0, 0%, 0%, 0.096);

   .footerBar-wrapper {
      @extend .flexRow-between;
   }

   p {
      font-size: $fs-btn;
   }

   a {
      font-size: $fs-btn;
      margin-left: 1.5rem;
      color: $color-Dark-100;
      letter-spacing: 0.2rem;

      &:hover {
         color: $color-btn-primary;
      }
   }
}

.scrollTop {
   position: fixed;
   right: 3%;
   width: 6rem;
   bottom: 2%;
   height: 6rem;
   cursor: pointer;
   border-radius: 50%;
   transform: scale(0);
   @extend .flexRow-center;
   box-shadow: $box-shadow-md;
   background-color: $color-Dark-800;
   transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

   svg {
      fill: white;
      transition: fill 0.3s ease-in-out;
      transform: translate(-0.1rem, -0.1rem);
   }

   &.show {
      transform: scale(1);
   }

   &:hover {
      background-color: $color-btn-primary;
   }
}